body{
   
    text-align:center;
}

h1{
    font-size:4em;
    font-family: cursive;
}
#clockbox{
    font-size: 5em;
}

#place{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 4em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: dimgrey;
  text-align: center;
}

@keyframes pulse {
    0% {background-color: #001F3F;}
    100% {background-color: #FEE800;}
}

#giphy{
    max-width: 250px;
    max-height: 250px;
}









